---
import Navigation from "../components/navigation.astro"
import HeaderLogos from "../components/header-logos.astro"
import HeaderGallery from "../components/header-gallery.astro"
import Sections from "../components/sections.astro"
import Contact from "../components/contact.astro"
---


<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<link rel="stylesheet" href="styles/shared.css">
		<link rel="stylesheet" href="styles/sections.css">
		<link rel="stylesheet" href="styles/navigation.css">
		<link rel="stylesheet" href="styles/header.css">
		<link rel="stylesheet" href="styles/gallery.css">
		<link rel="stylesheet" href="styles/contact.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
		<title>KARSON SPYKES tattoo studio</title>
	</head>
	<body>
		<Navigation/>
		<header>
			<HeaderLogos/>
			<HeaderGallery/>
		</header>
		<Sections/>
		<Contact/>
	</body>
	</html>
	
	
	
	
<script type="text/javascript">
	function isInViewport(el) {
	  const rect = el.getBoundingClientRect()
	  return rect.top < window.innerHeight && Math.abs(rect.top) < window.innerHeight
	}

	const parallaxImgs = Array.from(document.querySelectorAll('.section-img'))
	const parallaxSpeed = 0.25
	window.addEventListener('scroll', () => {
	  let { scrollY } = window
	  parallaxImgs.forEach(img => {
	    if(isInViewport(img)) {
	      img.style.transform = `translateY(${img.getBoundingClientRect().top * Math.sign(scrollY) * parallaxSpeed - 50}px)`
	    }    
	  })
	})

	/*
	 * Animations
	 */
	const observer = new IntersectionObserver((elements) => {
	  elements.forEach(el => {
	    if(el.isIntersecting)
	      el.target.classList.add('show')
	  })
	})

	const animatedElements = [
	  ...document.querySelectorAll(".hide-top"),
	  ...document.querySelectorAll(".hide-left"),
	  ...document.querySelectorAll(".hide-right"),
	  ...document.querySelectorAll(".hide-opacity")
	]
	animatedElements.forEach(el => observer.observe(el))
</script>