<div id="contact" class="p-16 bg-black p-bot-64">
	<div class="section-content justify-content-center contact-title-wrapper col-white hide-opacity">
		<p class="contact-title">CONTACT</p>
	</div>
	<div class="social-media-container section-content justify-content-center hide-opacity">
		<a href="https://instagram.com/kspykes_ttt?igshid=ZDdkNTZiNTM=" target="_blank" class="social-media-a fa-brands fa-instagram"></a>
		<a href="https://www.tiktok.com/@kspykes_ttt?_t=8ZWU1OiBj2j&_r=1" target="_blank" class="social-media-a fa-brands fa-tiktok"></a>
	</div>
	<form action="https://formsubmit.co/drunkbearzz@gmail.com" method="POST" class="section-content contact-form hide-opacity">
		<input type="hidden" name="_subject" value="Mail received from 'KARSON SPYKES tattoo studio' website!">
		<input type="hidden" name="_next" value="https://koba-web-form-message.onrender.com">
		<input placeholder="Name" type="text" name="name" autocomplete="off" required>
		<br>
		<input placeholder="Email" type="text" name="email" required autocomplete="off">
		<br>
		<textarea placeholder="Message" name="message" autocomplete="off" rows="6" required></textarea>
		<br>
		<input type="submit" value="SEND MESSAGE">
	</form>
</div>