<div id="gallery" class="gallery-root-wrapper">
	<div class="gallery-pagination">
		 <div class="gallery-pagination-icon gallery-pagination-icon-left">
				<span class="material-icons gallery-pagination-icon-symbol"> chevron_left </span>
		 </div>
		 <div class="gallery-pagination-icon gallery-pagination-icon-right">
				<span class="material-icons gallery-pagination-icon-symbol"> chevron_right </span>
		 </div>
	</div>
	<div class="gallery-container">
		 <div class="gallery-wrapper">
				<div class="gallery-item-wrapper hide-right">
					 <div class="gallery-item" style="background-image: url('img/gallery/2.jpg')"></div>
				</div>
				<div class="gallery-item-wrapper hide-right">
					 <div class="gallery-item" style="background-image: url('img/gallery/3.jpg')"></div>
				</div>
				<div class="gallery-item-wrapper hide-right">
					 <div class="gallery-item" style="background-image: url('img/gallery/4.jpg')"></div>
				</div>
				<div class="gallery-item-wrapper">
					 <div class="gallery-item" style="background-image: url('img/gallery/5.png')"></div>
				</div>
				<div class="gallery-item-wrapper">
					 <div class="gallery-item" style="background-image: url('img/gallery/2.jpg')"></div>
				</div>
				<div class="gallery-item-wrapper">
					 <div class="gallery-item" style="background-image: url('img/gallery/3.jpg')"></div>
				</div>
				<div class="gallery-item-wrapper">
					 <div class="gallery-item" style="background-image: url('img/gallery/4.jpg')"></div>
				</div>
				<div class="gallery-item-wrapper">
					 <div class="gallery-item" style="background-image: url('img/gallery/5.png')"></div>
				</div>
		 </div>
	</div>
</div>


<script type="text/javascript">
	const galleryWrapper = document.querySelector('.gallery-wrapper')
	const itemWrappers = document.querySelectorAll('.gallery-item-wrapper')
	const items = Array.from(document.querySelectorAll('.gallery-item'))

	// Recalculate 'transform' base on 'curGalleryPage'
	function updateGallerySliderPos() {
		const width = parseInt(window.getComputedStyle(itemWrappers[0]).width)
		const padding = parseInt(window.getComputedStyle(document.querySelector('.gallery-item-wrapper')).padding)
		const moveTo = (curGalleryPage - 1) * -width
		galleryWrapper.style.transform = `translateX(${moveTo}px)`
	}
	
	function getGalleryItemsDisplayNum() {
		return window.innerWidth < 600 ? 2 : 3
	}
	
	// first 3 visible images are with indexes 0, 1, 2. 'curGalleryPage' represent the one in the center.
	var curGalleryPage = 1
	function onGalleryPaginationClick(direction) {
		const leftSlideStopped = direction == 1 && curGalleryPage === 1
		const rightSlideStopped = direction == -1 && curGalleryPage + (getGalleryItemsDisplayNum() - 1) >= items.length
		if(leftSlideStopped || rightSlideStopped)
			return
		curGalleryPage += -direction
		updateGallerySliderPos()
	}  
	
	
	
	document.querySelector('.gallery-pagination-icon-left').addEventListener('click', () => onGalleryPaginationClick(1))
	document.querySelector('.gallery-pagination-icon-right').addEventListener('click', () => onGalleryPaginationClick(-1))
	
	function adjustGallerySize() {
		const containerW = parseInt(window.getComputedStyle(document.querySelector('.gallery-container')).width, 10)
		galleryWrapper.style.width = (containerW / getGalleryItemsDisplayNum()) * itemWrappers.length + 'px'
		const wrapperW = parseInt(window.getComputedStyle(galleryWrapper).width, 10) 
		itemWrappers.forEach(el => el.style.width = wrapperW / itemWrappers.length + 'px')
	}
	
	window.addEventListener('resize', () => {
		adjustGallerySize()
		galleryWrapper.style.transition = "none"
		updateGallerySliderPos()
		galleryWrapper.style.transition = "transform 0.3s"
	})
	
	
	// Remove gallery resize transition on first 3 items after transition is initialy shown because it breaks component on window resize
	setTimeout(() => {
		const wrappers = document.querySelectorAll(".gallery-item-wrapper")
		wrappers.forEach(el => el.classList.remove("hide-right", "show"))
	}, 1500)
	
	// Call on load
	adjustGallerySize()
	
</script>