<div class="header-container hide-top">
	<div class="header-item">
		 <img src="img/scorpion-logo-white.png" style="transform: scaleX(-1)">
	</div>
	<div class="header-item header-item-text-container">
		 <div class="header-container-title">
				KARSON SPYKES
		 </div>
		 <div class="header-container-divider"></div>
		 <div class="header-container-subtitle">
				TATTOO STUDIO
		 </div>
	</div>
	<div class="header-item">
		 <img src="img/scorpion-logo-white.png">
	</div>
</div>