<div id="gallery" class="gallery-root-wrapper">
	<div class="gallery-pagination">
		 <div class="gallery-pagination-icon gallery-pagination-icon-left">
				<span class="material-icons gallery-pagination-icon-symbol"> chevron_left </span>
		 </div>
		 <div class="gallery-pagination-icon gallery-pagination-icon-right">
				<span class="material-icons gallery-pagination-icon-symbol"> chevron_right </span>
		 </div>
	</div>
	<div class="gallery-container">
		 <div class="gallery-wrapper">
				<div class="gallery-item-wrapper hide-right">
					 <div class="gallery-item" style="background-image: url('img/gallery/2.jpg');"></div>
				</div>
				<div class="gallery-item-wrapper hide-right">
					 <div class="gallery-item" style="background-image: url('img/gallery/3.jpg');"></div>
				</div>
				<div class="gallery-item-wrapper hide-right">
					 <div class="gallery-item" style="background-image: url('img/gallery/4.jpg');"></div>
				</div>
				<div class="gallery-item-wrapper">
					 <div class="gallery-item" style="background-image: url('img/gallery/5.png');"></div>
				</div>
				<div class="gallery-item-wrapper">
					 <div class="gallery-item" style="background-image: url('img/gallery/2.jpg');"></div>
				</div>
				<div class="gallery-item-wrapper">
					 <div class="gallery-item" style="background-image: url('img/gallery/3.jpg');"></div>
				</div>
				<div class="gallery-item-wrapper">
					 <div class="gallery-item" style="background-image: url('img/gallery/4.jpg');"></div>
				</div>
				<div class="gallery-item-wrapper">
					 <div class="gallery-item" style="background-image: url('img/gallery/5.png');"></div>
				</div>
		 </div>
	</div>
</div>


<script type="text/javascript">
	// Recalculate 'transform' base on 'curGalleryPage'
	function updateGallerySliderPos() {
	const items = Array.from(document.getElementsByClassName('gallery-item-wrapper'))
	const galleryWrap = document.getElementsByClassName('gallery-wrapper')[0]
	const itemWidth = parseInt(window.getComputedStyle(items[0]).width)
	const padding = parseInt(window.getComputedStyle(document.getElementsByClassName('gallery-item-wrapper')[0]).padding)
	const moveTo = (curGalleryPage - 1) * itemWidth * -1
	galleryWrap.style.transform = `translateX(${moveTo}px)`
	}
	
	function getGalleryItemsDisplayNum() {
	if(window.innerWidth < 600)
	return 2
	else
	return 3
	}
	
	// first 3 visible images are with indexes 0, 1, 2. 'curGalleryPage' represent the one in the center.
	var curGalleryPage = 1
	function onGalleryPaginationClick(direction) {
	const items = Array.from(document.getElementsByClassName('gallery-item'))
	const leftSlideStopped = direction == 1 && curGalleryPage === 1
	const rightSlideStopped = direction == -1 && curGalleryPage + (getGalleryItemsDisplayNum() - 1) >= items.length
	if(leftSlideStopped || rightSlideStopped)
	return
	curGalleryPage += direction * -1
	updateGallerySliderPos()
	}  
	
	
	
	document.getElementsByClassName('gallery-pagination-icon')[0].addEventListener('click', () => onGalleryPaginationClick(1));
	document.getElementsByClassName('gallery-pagination-icon')[1].addEventListener('click', () => onGalleryPaginationClick(-1));
	
	function adjustGallerySize() {
	const container = document.getElementsByClassName('gallery-container')[0]  
	const wrapper = document.getElementsByClassName('gallery-wrapper')[0]
	const items = Array.from(document.getElementsByClassName('gallery-item-wrapper'))
	const containerWidthPx = parseInt(window.getComputedStyle(container).width, 10)
	const itemPadding = parseInt(window.getComputedStyle(document.getElementsByClassName('gallery-item-wrapper')[0]).padding)
	wrapper.style.width = (containerWidthPx / getGalleryItemsDisplayNum()) * items.length + 'px'
	const wrapperWidthPx = parseInt(window.getComputedStyle(wrapper).width, 10) 
	items.forEach(item => {
	item.style.width = wrapperWidthPx / items.length + 'px'
	});
	}
	
	window.onresize = function() {
	adjustGallerySize()
	document.getElementsByClassName('gallery-wrapper')[0].style.transition = "none"
	updateGallerySliderPos()
	document.getElementsByClassName('gallery-wrapper')[0].style.transition = "transform 0.3s"
	}
	
	/*
	* Call on init
	*/
	adjustGallerySize()
	
	// Remove gallery resize transition that breaks on window resize after transition is initialy shown
	setTimeout(() => {
	const elements = document.querySelectorAll(".gallery-item-wrapper");
	elements.forEach(el => {
	el.classList.remove("hide-right", "show")
	});
	}, 1500);
	
</script>