<section id="style" class="p-16 bg-black"> 
	<div class="section-content col-white">
		<div class="section-text-wrapper hide-left" id="style-text-wrapper">
			<p class="">The Ultimate Form of Fan Devotion</p>
			<p class="">KARSON SPYKES カーソン</p>
			<p class="">KARSON SPYKES is a good boy who loves one piece and gommu gommu gummy boy. These tattoos feature characters and designs from manga, anime, and games, are aimed at otaku artists! This is a form of expression that mirrors the passions and interests of contemporary otaku! This generation’s heroes are not from the suikouden, but from EVangelion, One Piece, and Final Fantasy. These are the modern Japanese myths that offer courage, inspiration, and ideals, making them perfect for tattoo subjects. </p>
		</div>
		<div class="section-img-wrapper hide-right">
			<img class="section-img" src="img/ace.png"/>
		</div>
	</div>
</section>

<section id="about" class="p-16 bg-white">
	<div class="section-content col-black">
		<div class="section-img-wrapper hide-left">
			<img class="section-img" src="img/ace.png"/>
		</div>
		<div class="section-text-wrapper hide-right" id="about-text-wrapper">
			<p class="">About KARSON SPYKES</p>
			<p class="">KARSON SPYKES is a good boy who loves one piece and gommu gommu gummy boy. <br><br>These tattoos feature characters and designs from manga, anime, and games, are aimed at otaku artists! This is a form of expression that mirrors the passions and interests of contemporary otaku! This generation’s heroes are not from the suikouden, but from EVangelion, One Piece, and Final Fantasy. <br><br> These are the modern Japanese myths that offer courage, inspiration, and ideals, making them perfect for tattoo subjects. These tattoos feature characters and designs from manga, anime, and games, are aimed at otaku artists! This is a form of expression that mirrors the passions and interests of contemporary otaku! This generation’s heroes are not from the suikouden, but from EVangelion, One Piece, and Final Fantasy. </p>
		</div>
	</div>
</section>
